html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    display: block;
    background-color: #191919;
}
header {
    border-bottom: 2px solid #3a3a3a;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 2.5em;
}

#name{
    color: #fc3;
}

#selectedLetter{
    margin-top: 40px;
    text-align: center;
    font-size: 3em;
    color: #ffffff;
}

#input{
    border:3px solid #fc3;
    border-radius: 20px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    display: block;
    height: 75px;
    width:800px;
    word-break:break-all;
    font-size: 2em;
    text-align: center;
    line-height: 75px;
    color: #ffffff;
}
.input_video{
    display: none;
}
.output_canvas{
    height: 190px;
    width: 300px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: auto;
    display: block;
    border: 3px solid #fc3;
    border-radius: 20px;
}


#panel{
    height: 400px;
    width: 1100px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: block;
}

@media screen and (max-width: 1090px) {
    #panel{
        width: 800px;
    }
    #input{
        width: 650px;
    }
    .output_canvas{
        width: 250px;
        height: 140px;
    }
    #selectedLetter{
        margin-top: 400px;
    }
}